.cards
{
    height: 300px;
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    /*margin: auto;*/
}

.CreditCard {
    grid-column: 1;
}

.CreditCardInput {
    grid-column: 2;
}
