.all-bank-card
{
    color: black;
    /*height: 400px;*/
    height: 100%;
    font-size: 18px;
    width: 100%;
    /*margin: auto;*/
}


.window-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: start;
    margin-bottom: 15px;
}

.clear-form {
    text-align: left;
    color: rgb(5, 107,187);
    margin-top: 20px;
}
