.payer-info
{
    margin: 0 10%;
}

.payer-info-layout {
    display: grid;
    grid-template-columns: 60% 40%;
}

.avatar-container {
    grid-column: 2;
    height: 250px;
    width: 250px;
    justify-self: center;
    align-self: center;
    margin: 15px ;
}

.avatar {
    width: 100%;
}

.payer-credentials {
    grid-column: 1;
    margin: 15px 15px 15px 0 ;
}

.phone-number {
    color: gray;
}

.payer-name {
    font-size: 35px;
    font-weight: bold;
}

.contacts {
    display: flex;
    justify-content: space-between;
    width: 55%;
    color: rgb(6, 108,167);
}

.payer-company-info {
    font-size: 20px;
}
.about-company-title {
    color: rgb(5, 107,187);
    /*font-family: 'Geometria';*/
    font-style: normal;
    font-weight: bold;
    margin: 15px 15px 15px 0;
    font-size: 1.2em;

}
