.data-input-container {
    color: black;
    /*grid-column: 2;*/
    width: 80%;
    /*width: 35%;*/
    /*height: 80%;*/
    height: 300px;
    font-size: 20px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 25% 70%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.sum-label{
    grid-row: 1;
    grid-column: 1;
}

.sum-input {
    grid-row: 1;
    grid-column: 2;
}

.comment-label {
    grid-row: 2;
    grid-column: 1;
}

.comment-input {
    grid-row: 2;
    grid-column: 2;
}

.email-label-card {
    grid-row: 3;
    grid-column: 1;
}

.email-input {
    grid-row: 3;
    grid-column: 2;
}

.pay-button {
    grid-row: 4;
    grid-column: 1;
}

.input-label {
    align-self: center;
    justify-self: left;
}

.pay-button {
    align-self: center;
    justify-self: left;
    /*width: 250px;*/
    /*height: 100%;*/
    text-align: center;
    padding: 10px;
    background: url("button.png") no-repeat center;
    background-size: contain;
}

.data-input-container > input {
    border: transparent;
    width: 60%;
    height: 35px;
    font-size: 1em;
    align-self: center;
}

.data-input-container > .comment-input,
.data-input-container > .email-input {
    border-bottom: 1px solid lightgrey;
}

input:focus {
    outline: none;
}
