.payments-window {
    color: rgb(5, 107,187);
    font-size: 20px;
    margin: 50px 10%;
    height: fit-content;
}

.payments-methods
{
    margin-top: 10px;
}

button:disabled {
    /*border: 1px solid red;*/
    /*color: red;*/
    filter: opacity(.5);
}
