.my-bank-card {
    height: 300px;
    width: 100%;
}

input:focus {
    outline: none;
}

.card-template {
    position: relative;
    grid-column: 1;
    border: 1px solid gray;
    border-radius: 15px;
    height: 80%;
    width: 85%;
    box-shadow: 0 8px 20px gray, -10px 8px 25px lightgrey, 10px 8px 25px lightgrey;
}
.cards-systems {
    position: absolute;
    right: 5%;
    top: 10%;
    width: 40%;
    height: 15%;
}
.info-input{
    height: 35px;
    border: transparent;
    border-bottom: 1px solid lightgrey;
    font-size: 20px;
}
.card-number-input {
    position: absolute;
    left: 5%;
    top: 45%;
    width: 78%;
}

.expire-date-input {
    position: absolute;
    left: 5%;
    top: 65%;
    width: 20%;
}

.cvc-input {
    position: absolute;
    right: 45%;
    top: 65%;
    width: 15%;
}
