.country-info {
    font-size: 20px;
    width: 60%;
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 3.6em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

.country-info::before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.country-info::after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

.show-more-link-container
{
    margin-bottom: 10%;
}

.show-more-link
{
    color: blue;
    cursor: pointer;
}

.hide-link
{
    display: none;
    color: blue;
    cursor: pointer;
}

.show-checkbox[value="show"]:checked ~ .country-info {
    max-height: fit-content;
}

.show-checkbox[value="show"]:checked ~ .show-more-link-container .show-more-link {
    display: none;
}

.show-checkbox[value="show"]:checked ~ .show-more-link-container .hide-link {
    display: block;
}

.show-checkbox
{
    display: none;
}
